.courses-container {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .certification {
    font-size: 200;
  }
 
  .back-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:  #390642;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .back-link:hover {
    background-color: rgb(0, 0, 0);
    color: lightgray;
    transform: translateY(-50%) scale(1.2);
  }
  

  .back-button {
    border-radius: 50%;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) ;
    cursor: pointer;
    z-index: 1;
  }
  
  .back-button:hover {
    
    background-color: #390642;
    color: white;
    border: black;
    transition: all 0.3s ease;
    transform: translateY(-50%) scale(1.1);
  }
    
  

/*background-color: gray;
  transition: all 0.2s ease-in-out;
  transform: translateY(-50%) scale(1.1);*/
  /* .center1{
    text-align: right;
    display: block;
    justify-content: right;
    align-items: right;
    margin: auto;
    width: 100%;
  } */