.container1{

      display: flex;
    
      justify-content: center;
    
      align-items: center;
    
      height: 100vh;
/*     
      background-color: #2a0327; */
    
     }
    
    
    
     .login-container {
    
      background-color: #080808;
    
      padding: 3rem;
      
    
      border-radius: 1.5rem;
    
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    
      position: relative;
    
      overflow: hidden;
    
      width: 60%;
    
       display: flex;
    
      flex-direction: column;
    
      justify-content: center;
    
      align-items: center; 
    
     }
    
    
    
     h1 {
    
      font-size: 2.5rem;
    
      margin-bottom: 2rem;
    
      /* text-align: center; */
    
      color: #e7dbe3;
    
     }
    
    
    
     
    
    
    
     label {
    
      display: block;
 
    
      font-weight: bold;
    
      color: white;
     }
    
    
    
     input {
    
      display: block;
    
      width: 100%;
    
      padding: 0.75rem;
    
      border:red solid 1px;
      background-color: #080808;
    
      border-radius: 0.5rem;
    
      font-size: 1.2rem;
    
      /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
    
     }
    
    
    
     .input-icon {
    
      position: absolute;
    
      top: 50%;
    
      left: 1.5rem;
    
      transform: translateY(-50%);
    
      font-size: 1.5rem;
    
      color: #6e00ff;
    
     }
    
    
    
     .input-icon:focus-within {
    
      color: #4b0082;
    
     }
    
    
    
     .input-icon svg {
    
      transition: transform 0.2s ease-in-out;
    
     }
    
    
    
     .input-icon:focus-within svg {
    
      transform: rotate(90deg);
    
     }
    
    
    
     .btn1 {
    
      display: block;
    
      width: 100%;
    
      /* padding: 0.75rem; */
    
      border: none;
    
      border-radius: 0.5rem;
    
   
    
      color: #f2dbe6;
    
      font-size: 1.25rem;
    
      font-weight: bold;
    
      /* cursor: pointer; */
    
      transition: background-color 0.2s ease-in-out;
    
      margin-top: 2rem;
    
     }
 
    
    
     .btn1:hover {
    
      background-color:transparent;
    
     }
    
    
    
     /* .back-button {
    
      position: absolute;
    
      top: 1rem;
    
      left: 1rem;
    
      border: none;
    
      background-color: transparent;
    
      font-size: 2rem;
    
      color: #6e00ff;
    
      cursor: pointer;
    
      transition: color 0.2s ease-in-out;
    
     }
     */
    
    
     .back-button:hover {
    
      color: #4b0082;
    
     }
    
    
    
     .footer1 {
    
      position: absolute;
    
      bottom: 0;
    
      left: 0;
    
      width: 100%;
    
      padding: 1rem 2rem;
    
      background-color: #4b0082;
    
      color: #ffffff;
    
      font-size: 1.2rem;
    
      text-align: center;
    
     }
    
    
    
     .footer a {
    
      color: #ffffff;
    
      text-decoration: underline;
    
     }
    
     .forgot-password-btn {
    
      background-color: transparent;
    
      border: none;
    
      color: #ede9ef;
    
      cursor: pointer;
    
      font-size: 18px;
    
      margin-top: 20px; 
    
      text-decoration: underline;
    
     }
    
    
    
     .forgot-password-btn:hover {
    
      color: #555;
    
     }
    
    
    
    
    
     @media screen and (max-width: 768px) {
    
      .login-container {
    
       width: 90%;
    
      }
    
     }