.App {
 text-align: center;
}
/* .coursecontent
{
  text-align: left;
} */
h4{
 
  color:black;
  font-weight: bolder;
}
h3{
 
   color:white;
}
.about_course{
height:700;
border-radius: 700%;
overflow:auto;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


.App-header {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  
}
.course
{
  padding-top: 150px;

}
.technology
{
  padding-top: 30px;
  padding-bottom:20px;
}

button
{
  padding-bottom: 30px;
}
/* accordian css */




.demo{ background:#161141!important; }
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
    background: transparent;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 5px;
    background: transparent;
    position: relative;
}
#accordion .panel-title a{
    display: block;
    padding: 20px 30px;
    margin: 0;
    background: rgba(0,0,0,0.4);
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    position: relative;
}
#accordion .panel-title a.collapsed{ border: none; }
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 30px;
    transform: rotate(180deg);
    transition: all .4s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}
#accordion .panel-title a.collapsed:before{
    color: rgba(152, 6, 6, 0.5);
    transform: rotate(0deg);
}
<<<<<<< HEAD
#accordion .panel-body{
    padding: 20px 30px;
    background: rgba(0,0,0,0.1);
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: none;
    border-radius: 5px;
}
=======

















/*header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

header {
  background-color: indigo;
  border-radius: 0px;
  padding: 20px;
  height: 90px;
  display: flex;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a:hover {
  color: lightgray;
}

header a.active {
  color: black;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  
}

.nav-link:hover {
  color: rgb(188, 151, 214);
}
.nav-link:active { 
  color:  rgb(188, 151, 214);
}

.btn-login, .btn-signup {
  background-color: lightgray;
  border-radius: 20px;
  padding: 5px 30px;
  border: none;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.btn-login:hover, .btn-signup:hover {
  background-color: black;
}

*/
>>>>>>> b78665b (Done with header and footer navigation)
